html, body { 
 height:100%;
 margin:0; 
 padding:0; 
 text-align:center; 
 background: -moz-linear-gradient(top,  #000000,  #FFFFFF); 
 background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#FFFFFF));
 background-repeat: no-repeat;
 background-attachment:fixed;
 background-image: -o-linear-gradient(rgb(0,0,0),rgb(255,255,255));
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#FFFFFF'); /* for IE */
 font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 font-size:1em;
 color:#000000;
}

#header {
border: 3px solid black; 
display:block; 
margin:0;
background:black; 
width: 100%;
padding-bottom: 3px;
padding-top: 6px;
} 

.row1 {
 background: -moz-linear-gradient(top,  #FFFFFF,  #D2D2D2);
 background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D2D2D2));
 background-image: -o-linear-gradient(rgb(255,255,255),rgb(210, 210, 210));
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#D2D2D2'); 
 background-color: white;
 color: black;
}
.row2 {
 background: -moz-linear-gradient(top,  #000000,  #2D2D2D);
 background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#2D2D2D));
 background-image: -o-linear-gradient(rgb(0,0,0),rgb(45, 45, 45));
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#2D2D2D');
 background-color: black;
 color:white;
}
a, img {
 border:none;
}
a:link, a:visited, a:active {
 color: #000000;
 text-decoration:none;
}
.row2 a:link, .row2 a:visited, .row2 a:active {
 color: #FFFFFF;
 text-decoration:none;
}

a:hover {
 color:#ffffff;
 text-decoration:none;
}
.row2 a:hover {
 color:#000000;
 text-decoration:none;
}
#newpagewidth { 
 height:100%;
 width:95%; 
 text-align:center; 
 margin-left:auto; 
 margin-right:auto;
} 
 
#newheader {
 border: 3px solid black;
 position:relative; 
 width:100%;
 background: transparent;  
 text-align:center;
 display:block;
 margin-left:auto; 
 margin-right:auto;
} 

#newcarousel {
 border: 3px solid black;
 background-color: #FFFFFF;
 height:50px; 
 width:95%;
 position: relative; 
 display:block;
 margin-left:auto; 
 margin-right:auto;
 clear:both;
 padding-top: 4px;
 padding-bottom: 4px;
}

#newsearch {
 width:100%;
 background-color: #FFFFFF;
 margin-left:auto; 
 margin-right:auto;
 position: relative;
 padding-top: 20px;
 padding-bottom: 20px;
 clear:both;
 border-left:3px solid #000000;
 border-right:3px solid #000000;
}

#ajaxsearch {
 width:100%;  
 clear:both;
 position: relative;
 border-left:3px solid #000000;
 border-right:3px solid #000000;
}

#outerbox {
 position:relative;   /* to place it somewhere on the screen */
 top:0px;            /* free space at top */
 bottom:0px;
 width:100%;  
}         /* makes it lock to the bottom */

#innerbox {
 background-color: #FFFFFF;
 margin-left:auto; 
 margin-right:auto;
 padding-top:30px;
 width:100%;
 position:absolute;				
 min-height:100%; /* !important browser fill */
 height:auto;
 border-left:3px solid #000000;
 border-right:3px solid #000000;
 border-bottom:3px solid #000000;
}        /*content fill */

#innerbox p {
 font-size:0.6em;
}

table {
 width: 100%;
 border-collapse: collapse;
}

table.center {
 margin-left:auto; 
 margin-right:auto;
}
tr {
 border: 3px solid black;
}

img.stretchimg {
 margin-left:auto; 
 margin-right:auto; 
 display: inline;
 float: left;
 width:100%;
 border-left:3px solid #000000;
 border-right:3px solid #000000;
}

th {
 vertical-align:text-bottom;
 font-size:0.8em;
}

th#left {
 vertical-align:text-bottom;
 font-size:0.8em;
}

th#PACKNR {
 text-align: center;
 padding-right:0.5em;
}

th#PACKNAME {
 text-align: left;
 padding-left:0.5em;
}

th#PACKSIZE {
 text-align: right;
}

th#PACKGETS {
 text-align: right;
}

th#CRC32 {
 text-align: right;
}

th#ADDDATE {
 text-align: right;
 padding-right:1em;
}

td {
 font-size:0.7em;
}


td.icons {
 text-align: left;
 vertical-align:middle;
 width: 100px; 
}

td.icons img {
 display:block;
}

td.PACKNUM {
 text-align: right;
 padding-right:0.5em;
 font-size:0.7em;
 width: 5%;
 font-weight:bold;
 border-right: 1px dotted rgba(0, 0, 0, 0.3);
}

td.PACKNAME {
 text-align: left;
 padding-left:0.5em;
 width: 53%; 
}

td.PACKSIZE {
 text-align: right;
 width: 5%; 
}

td.PACKGETS {
 text-align: right;
 width: 5%; 
}

td.CRC32 {
 text-align: right;
 font-size:1em;
 font-family:"Courier New", Courier, monospace;
 width: 10%; 
}

td.ADDDATE {
 text-align: right;
 padding-right:0.5em;
 width: 10%; 
}

p {
 padding:0px;
 margin:0px;
}

p.footer {
 font-size:0.6em;
}

p.searchtext {
 font-size:0.8em;
}
